
{% macro internal_link( name,ip,description) %}
 {{ name }}: { ip: {{ip}} description: {{ description }} } {% endmacro %}

nodes:
{% for node in nodes %}
  {{ node.name }}:
    mgmt: {{ node.mgmt }}
    rid: {{ loopback_subnet |ipsubnet (32,(node.id | int )) }}
    id: {{ node.id }}
    os: {{ node.os }}
    loopback: {{ loopback_subnet |ipsubnet (32, (node.id | int )) }}
    asn: {{ ( bgp_base_asn | int ) + ( node.id | int ) }}
  
    interfaces:
{%   for link in fabric %}
{%    if link.left == node.name %}
     {{ internal_link(link.left_port,link.left_ip,link.right|default('')) }}
{%    elif link.right == node.name %}
     {{ internal_link(link.right_port,link.right_ip, link.left|default('')) }}
{%    endif %}
{%   endfor %}

{% endfor %}

