router bgp {{ bgp.asn }}
 bgp router-id {{ bgp.rid }}
 bgp log-neighbor-changes
{% for entry in peers %}
 neighbor {{ entry.ip }} remote-as {{ entry.asn }}
 neighbor {{ entry.ip }} description {{ entry.description }}
 neighbor {{ entry.ip }} password 7 {{ bgp.auth }}
{% endfor %}
!
