route-map {{ connected_rm.name }} permit 20
 description "Redistributing {{ connected_rm.interface }}"
 match interface {{ connected_rm.interface }} 

router bgp {{ bgp.asn }}
 bgp router-id {{ bgp.rid }}
 bgp log-neighbor-changes
 redistribute connected route-map {{ connected_rm.name }}
{% for entry in peers %}
 neighbor {{ entry.ip }} remote-as {{ entry.asn }}
 neighbor {{ entry.ip }} description {{ entry.description }}
 neighbor {{ entry.ip }} password 7 {{ bgp.auth }}
{% endfor %}
 network {{ bgp.rid }} mask 255.255.255.255
!
