{% set node = nodes[inventory_hostname] %}

{% for interface in node.interfaces %}
default interface {{ interface.name }}
interface {{ interface.name }}
 {{ 'no shutdown' if interface.name.startswith("Et") else "" }}
 {{ 'no switchport' if interface.name.startswith("Et")  else "" }}
 description {{ interface.description }}
 ip address {{ interface.ip | ipaddr('address') }} {{ interface.ip | ipaddr('netmask') }}
!
{% endfor %}

