{% set node = nodes[inventory_hostname] %}

{% for interface in node.interfaces %}
interfaces {
    {{ interface.name }} {
        description "{{ interface.description }}";
	unit 0 {
            family inet {
                address {{ interface.ip }};
            }
        }    
    } 
}

{% endfor %}
